/* style.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Blauer Farbverlauf */
    color: #333;
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #4facfe; /* Dunkler Blauton für den Header */
    color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  #countdown, #info, #gallery, #guestbook, #text {
    margin-top: 20px;
    padding: 15px;
    background-color: #e3f2fd; /* Hellblauer Hintergrund für Abschnitte */
    border-radius: 10px;
  }
  
  #timer {
    font-size: 1.2em;
    color: #00bcd4; /* Türkisblauer Farbton für den Countdown-Text */
  }
  
  #gallery img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
  }
  
  textarea {
    width: 90%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #00bcd4; /* Türkisblauer Button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0097a7; /* Dunklerer Blauton beim Hover-Effekt */
  }
  